$text-color: #777777;
$accent: #58E1C1;

$default: #51DDFC;
$success: #63CC82;
$error: #E4757A;
$warning: #FD7856;
$info: #927BC1;

$full: #80E8D1;
$half: #4DA2BB ;
$third: #7EE6FD;
$quarter: #DEB2EE ;
$five: #88D9A0;
$seven: #EC9FA3 ;
$eight: #FD9F85 ;




